html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

:root {
  --title_color: #c5bbbb;
  --text_color: #fff;
  --text_card_color_hover: #ffaa2a;
  --background_header: #0a84fe;
  --background_card: #0a84fe;
  --border_card_color: #0a84fe;
  --border_avatar: #ffaa2a;
}
